# Secretos y entorno local - no subir
.env
*.env
frontend/env.js

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / builds futuros
node_modules/
dist/

# Podman / Docker
*.log

# Sistema
 Thumbs.db
.DS_Store
desktop.ini
